<launch>
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find package_name)/rviz/multi_teleop.rviz" /> -->
    <arg name="car1_name" default="car1" />
    <arg name="car2_name" default="car2" />
    <arg name="car3_name" default="car3" />
    <arg name="car4_name" default="car4" />

    <arg name="nhttc_multi_config" default="$(find nhttc_ros)/config/nhttc_demo.yaml" />

    <rosparam file="$(arg nhttc_multi_config)" command="load" />

    <!-- Set to 1 if you want to run the map_server -->
    <arg name="map_server" value = "1"/>

    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_base)/launch/includes/map_server.launch" />
    </group>

    <!-- Launch first car -->
    <group ns="$(arg car1_name)">
         <include file="$(find mushr_sim)/launch/single_car.launch" >
            <arg name="car_name" value="$(arg car1_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="" />
        </include>
        <node pkg="nhttc_ros" type="nhttc_ros_node" name="controller" launch-prefix="gdb -ex run --args" output="screen">
            <param name="car_name" value="car1"/>
            <param name="extra_rad" value="0.0"/>
        </node>
    </group>

    <!-- Launch second car -->
    <group ns="$(arg car2_name)">
        <include file="$(find mushr_sim)/launch/single_car.launch" >
            <arg name="car_name" value="$(arg car2_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-green-black" />

        </include>
        <node pkg="nhttc_ros" type="nhttc_ros_node" name="controller">
            <param name="car_name" value="car2"/>
            <param name="extra_rad" value="0.1"/>
        </node>
    </group>

    <group ns="$(arg car3_name)">
        <include file="$(find mushr_sim)/launch/single_car.launch" >
            <arg name="car_name" value="$(arg car3_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-red-white" />

        </include>
        <node pkg="nhttc_ros" type="nhttc_ros_node" name="controller3">
            <param name="car_name" value="car3"/>
            <param name="extra_rad" value="0.2"/>
        </node>
    </group>

    <group ns="$(arg car4_name)">
        <include file="$(find mushr_sim)/launch/single_car.launch" >
            <arg name="car_name" value="$(arg car4_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-purple-gold" />

        </include>
        <node pkg="nhttc_ros" type="nhttc_ros_node" name="controller4">
            <param name="car_name" value="car4"/>
            <param name="extra_rad" value="0.3"/>
        </node>
    </group>

    <node pkg="nhttc_ros" type="nhttc_pose_init" name="initializer"/>

</launch>